In [1]:
import scipy.io
import pandas as pd

from os import chdir
chdir('/Users/etiennelenaour/Documents/Cours 19:20/Semestre 1/Monte Carlo/projet_HMM/car_park/Cp_16_05_01')

## experience 1

### Bases de données GPS, laser, et vitesse

In [2]:
#Telechargement des données pour l'experience 1 (qui sont sous forme de dictionnaire)
gps1 = scipy.io.loadmat('juan1_gps.mat')
sensors1 = scipy.io.loadmat('juan1_etc.mat')
laser1 = scipy.io.loadmat('juan1_lsr2.mat')

In [3]:
#Mise en forme en Data Frame

gps_df_1 = pd.DataFrame(gps1['GPS'], columns=gps1['GPSFieldsOrder'])
sensors_df_1 = pd.DataFrame(sensors1['SENSORS'], columns=sensors1['ETCFieldsOrder'])
laser_df_1 = pd.DataFrame(laser1['LASER'], index=laser1['TLsr'].reshape(975))

### Visualisons ces données

In [4]:
#Les données GPS
gps_df_1.head()

,1.time,2.ts,3.LAT,4.LONG,5.alti,6.course,7.speedOG,8.speedV,9.SgmLat,10SgmLong,11SgmAlti,12mode,13sats
0,851227.0,5.117333,33.888452,151.194872,61.536,0.0,0.00,-0.00,0.009,0.008,0.016,3.0,11.0
1,851428.0,5.117389,33.888452,151.194872,61.535,0.0,0.02,-0.01,0.009,0.008,0.017,3.0,11.0
2,851628.0,5.117444,33.888452,151.194872,61.537,0.0,0.00,-0.00,0.010,0.009,0.019,3.0,11.0
3,851828.0,5.117500,33.888451,151.194872,61.536,0.0,0.02,-0.01,0.007,0.007,0.014,3.0,11.0
4,852028.0,5.117556,33.888452,151.194872,61.541,0.0,0.01,0.03,0.008,0.007,0.014,3.0,11.0

In [5]:
#Les données du capteur
sensors_df_1.head()

   time     Counts   Accel    steer    brake    speed
0   851292       87     2047     2171     2046        0
1   851317       87     2047     2172     2047        0
2   851342       87     2047     2171     2047        0
3   851367       87     2047     2171     2047        0
4   851392       87     2047     2171     2046        0

In [6]:
#Les données laser
laser_df_1.head()

,0,1,2,3,4,5,6,7,8,9,...,351,352,353,354,355,356,357,358,359,360
851274,84,84,84,84,86,86,86,8189,1097,1098,...,630,8191,8191,8191,8191,8191,8191,8191,8191,8191
851488,83,84,83,84,85,86,87,8189,1097,1098,...,631,8191,8191,8191,8191,8191,8191,8191,8191,8191
851702,84,85,84,84,85,86,86,8189,1096,1097,...,630,8191,8191,8191,8191,8191,8191,8191,8191,8191
851915,84,84,84,84,84,87,86,8189,1097,1097,...,631,8191,8191,8191,8191,8191,8191,8191,8191,8191
852129,84,84,83,84,85,86,87,8189,1097,1097,...,630,8191,8191,8191,8191,8191,8191,8191,8191,8191